<p>Hi {{user.firstName}} {{user.lastName}}</p>
<img src="{{user.avatar}}" />
<p>{{sentence}}</p>
<input type="button" id="postButton" value="POST" />
<script src='./static/js/{{assets.index.js}}'></script>
